<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaHotkey.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MediaHotkey.MySettings>
            <setting name="RunAsDaemon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MEDIA_PREV" serializeAs="String">
                <value />
            </setting>
            <setting name="MEDIA_NEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="MEDIA_PLAYPAUSE" serializeAs="String">
                <value />
            </setting>
            <setting name="VOL_UP" serializeAs="String">
                <value />
            </setting>
            <setting name="VOL_DOWN" serializeAs="String">
                <value />
            </setting>
            <setting name="VOL_MUTE" serializeAs="String">
                <value />
            </setting>
            <setting name="DAEMON" serializeAs="String">
                <value />
            </setting>
        </MediaHotkey.MySettings>
    </userSettings>
</configuration>